<footer>
        <section class="app-footer">
            <div class="container">
                <div class="row6">
                    <div class="col4">
                        
                       <div class = "app-footer__logo-wrapper">
                            <div class = "app-footer__logo">
                                <img src="https://www.opticsplanet.com/gearexpert/wp-content/uploads/2015/05/atn-logo.png" alt="See the source image" class=" nofocus" tabindex="0" aria-label="See the source image" data-bm="21" width="127spx" height="100px">
                            </div>
                            <ul class="app-footer__social-list">
                                <li><a href="#"><i class= "fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class= "fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class= "fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class= "fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class= "fab fa-whatsapp"></i></a></li>
                                <li><a href="#"><i class= "fab fa-weibo"></i></a></li>
                            </ul>
                        </div>
                       
                    </div>
                    <div class="col4">
                        <ul class="app-footer__menu">                    
                            <li><a href="/">Home</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li style = "width:150px"><a href="/user">User Management</a></li>
                             <li><a href="/product">Products</a></li>
                            <li><a href="/order">Order</a></li>
                            
                             
                            
                       </ul>
                       
                        
                    </div>
                </div>
            </div>
        </section>
    </footer>
    