
     <section style="background-color: #fff;  color: #000; height: 716px">
          <div class="container">
               <div class="text-center" >
                    
                    <p class="lead" style="margin-bottom: 50px">We are ATN Shop providing you with the best product.
                         Our store system is present in many large supermarkets. Come visit one of our stores.
                    </p>
                    {{!-- <video src="../public/imgs/ONE PIECE Mugiwara Store in Shibuya, Japan Tour【麦わらストア】.mp4" width="80%" controls></video> --}}
                    <iframe width="1018px" height="573px" src="https://www.youtube.com/embed/aiq1laEIu0I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
          </div>
     </section>

     <div class="location" style="text-align: center">
          <p class="lead" style="margin-bottom: 50px">We have a store in Vietnam and you can find us through the map below.
          </p>
          <div id="map" style="width:600px;height:450px;; margin-left: 351px;margin-bottom: 50px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.137840514864!2d106.6510717147187!3d10.800753192305004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529477b5c7c99%3A0x567b889fd80bf3d8!2zMjAgQ-G7mW5nIEjDsmEsIFBoxrDhu51uZyA0LCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1646232174206!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
     </div>
     

     <section class="section-background" style="background-color: #555;  color:#E6E6FA; height:450px; padding-top:70px">
          <div class="container">
               <div class="row" >
                    <div class="col-md-offset-1 col-md-4 col-xs-12 pull-right">
                         <img style="width:500px; height: 250px; border-radius:30px;" src="https://p1-ssl.vatera.hu/photos/97/41/dragon-ball-figuraszett-1989-5db-egyben-e5bb_7_big.jpg?v1" >
                    </div>

                    <div class="col-md-7 col-xs-12">
                         <div class="about-info">
                              <h2>Anime Figures - Let’s Figure It Out!</h2>

                              <figure>
                                   <figcaption>
                                        <p>Anime figures from ATN Shop, if you are looking for the best place to buy anime figures our Japanese anime figures are more than just collectibles they’re a fundamental part of otaku culture!</p>
                                        <br>
                                        <p>Characters from your favorite animes, mangas, and video games are transformed and brought to life as three-dimensional anime statues and are perfect for decorating your space.</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <section>
          <div class="container" style="padding-top: 85px;">
               <div class="row">
                    <div class="col-md-offset-1 col-md-7 col-xs-12" style=" width: 50%">
                         <div class="about-info">
                              <h2>Satisfy all your desires with the product</h2>

                              <figure>
                                   <figcaption>
                                        <p>ATN Shop is a leading anime figures website, you can be sure that all the anime figurines we stock are authentic. When you buy anime figures you can trust Solaris! Also if you are new to collecting these great figures then check out our anime figure collectors guide.</p>
                                        <br>
                                        <p>If you’re looking for anime figures online with a lot of posing possibilities, check out the Nendoroid and Figma lines! Both lines offer great articulation and Nendoroids add another layer of fun by shrinking your favorite characters down into their Chibi forms. You can set up a photoshoot with these anime figures, recreate your favorite scenes from animes and mangas, and best of all, have loads of fun! Solaris Japanese anime figures shop has over 50,000 authentic anime figures online. We don't stock just cheap anime figures, we stock the very best scale statues around.</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
                    <div class="col-md-4 col-xs-12" style=" width: 42%">
                         <img style="width:500px; height: 300px; border-radius:30px;" src="https://i.pinimg.com/originals/c9/ae/e1/c9aee1df4e18343ae05d1e229b2a2aef.jpg" >
                    </div>

                    
               </div>
          </div>
     </section>

     