    <H1> Contact Us </H1>

    <div class="container">
                
        <form  action="/contact" method="POST">
            <div class="mb-3">
                <label for="UserName" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="FullName" name="FullName">
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Your Email</label>
                <input type="text" class="form-control" id="Email" name="Email">
            </div>
            <div class="mb-3">
                <label for="PhoneNumber" class="form-label">Your Phone</label>
                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber">
            </div>
            <div class="mb-3">
                <label for="Messages" class="form-label">Messages</label>
                <input type="text" class="form-control" id="Messages" name="Messages" >
            </div>

            <button type="submit" class="btn btn-primary">Send</button>
        </form>  
    </div>
