<div class="container">
            
    <form  action="/order" method="POST">
        <div class="mb-3">
            <label for="MaSoOrder" class="form-label">Ma So Order</label>
            <input type="text" class="form-control" id="MaSoOrder" name="MaSoOrder">
        </div>
        <div class="mb-3">
            <label for="TenKhachHang" class="form-label">Ten Khach Hang</label>
            <input type="text" class="form-control" id="TenKhachHang" name="TenKhachHang">
        </div>
        <div class="mb-3">
            <label for="SoLoaiHangTrongDon" class="form-label">So Loai Hang Trong Don</label>
            <input type="number" class="form-control" id="SoLoaiHangTrongDon" name="SoLoaiHangTrongDon">
        </div>
        <div class="mb-3">
            <label for="TongSotien" class="form-label">Tong So Tien</label>
            <input type="number" class="form-control" id="TongSotien" name="TongSotien" >
        </div>
        <div class="mb-3">
            <label for="ThoiGianMua" class="form-label">Thoi Gian Mua</label>
            <input type="date" class="form-control" id="ThoiGianMua" name="ThoiGianMua" >
        </div>
        <div class="mb-3">
            <label for="MaSoNV" class="form-label">Ma So Nhan Vien</label>
            <input type="text" class="form-control" value="1" id="MaSoNV" name="MaSoNV">
        </div>
       
        <button type="submit" class="btn btn-primary">Create</button>
    </form>


  
</div>