

<div class="container">
            
    <form  action="/product" method="POST">
        <div class="mb-3">
            <label for="MaSP" class="form-label">Ma San pham</label>
            <input type="text" class="form-control" id="MaSP" name="MaSP">
        </div>
        <div class="mb-3">
            <label for="TenSP" class="form-label">Ten San pham</label>
            <input type="text" class="form-control" id="TenSP" name="TenSP">
        </div>
        <div class="mb-3">
            <label for="Links" class="form-label">Upload hinh anh</label>
            <input type="text" class="form-control" id="Links" name="Links">
        </div>
        <div class="mb-3">
            <label for="GiaBan" class="form-label">Gia ban</label>
            <input type="number" class="form-control" id="GiaBan" name="GiaBan" >
        </div>
        <div class="mb-3">
            <label for="GiaGoc" class="form-label">Gia goc</label>
            <input type="number" class="form-control" id="GiaGoc" name="GiaGoc" >
        </div>
        <div class="mb-3">
            <label for="BaoHanh" class="form-label">Thoi gian bao hanh (thang)</label>
            <input type="number" class="form-control" value="1" id="BaoHanh" name="BaoHanh">
        </div>
        <div class="mb-3">
            <label for="MoTa" class="form-label">Mo ta</label>
            <input type="text" class="form-control" id="MoTa" name="MoTa" >
        </div>
        <div class="mb-3">
            <label for="NhomSP" class="form-label">Nhom san pham</label>
            <input type="text" class="form-control" id="NhomSP" name="NhomSP" >
        </div>
        <div class="mb-3">
            <label for="NhaSX" class="form-label">Nha san xuat</label>
            <input type="text" class="form-control" id="NhaSX" name="NhaSX">
        </div>
        <div class="mb-3">
            <label for="NamSX" class="form-label">Nam san xuat</label>
            <input type="number" class="form-control" id="NamSX" name="NamSX">
        </div>
        <div class="mb-3">
            <label for="Model" class="form-label">Model</label>
            <input type="text" class="form-control" id="Model" name="Model">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>


  
</div>



